textarea{
  width: 100%;
}

.posted_container{
  width: 278px;
  height: 278px;
  overflow: hidden;
  position: relative;
}

.posted_img{
  width: 278px;
  height: 278px;
  object-fit: contain;
  background-color: #d3d3d3;
}

.posted_container .posted_user{
  letter-spacing: 1.5px;
  font-size: 28px;
  text-align: center;
  padding-top: 122px;
  color: #f5f5f5;
}

.posted_container .posted_text{
  width: 278px;
  height: 278px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.posted_container:hover .posted_text{
  opacity: 1;
}

.back_home{
  line-height: 38px;
}

.post_view{
  border: 1px #d3d3d3 solid;
}
